package ${package.Service};

import ${package.Entity}.${entity};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} <${entity}>
#else
public interface ${table.serviceName}{

 }
#end
